@page
@model CarsWebApp.Areas.Identity.Pages.Account.Manage.AdminPanelModel
@{
}
    @*<link href="~/css/admin.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">*@
    @*<div class="dropdown show">
        <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="menu"></span>
        <div class="dropdown-menu dropdown-menu-right show" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-108px, 19px, 0px);">
            <a class="dropdown-item" href="#"><i class="bx bx-edit-alt mr-1"></i> edit</a>
            <a class="dropdown-item" href="#"><i class="bx bx-trash mr-1"></i> delete</a>
        </div>
    </div>*@

@*<div class="col-md-12">
    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column1">Car</th>
                        <th class="cell100 column2">Price</th>
                        <th class="cell100 column3">Status</th>
                        <th class="cell100 column4">Link</th>
                        <th class="cell100 column5">Action</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column1">Like a butterfly</td>
                        <td class="cell100 column2">Boxing</td>
                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                        <td class="cell100 column4">Aaron Chapman</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Mind & Body</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Adam Stewart</td>
                        <td class="cell100 column5">15</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Crit Cardio</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                        <td class="cell100 column4">Aaron Chapman</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">Action</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Playful Dancer's Flow</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Zumba Dance</td>
                        <td class="cell100 column2">Dance</td>
                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">20</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Cardio Blast</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Pilates Reformer</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Supple Spine and Shoulders</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">15</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Yoga for Divas</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">20</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Virtual Cycle</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">20</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Like a butterfly</td>
                        <td class="cell100 column2">Boxing</td>
                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                        <td class="cell100 column4">Aaron Chapman</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Mind & Body</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Adam Stewart</td>
                        <td class="cell100 column5">15</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Crit Cardio</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                        <td class="cell100 column4">Aaron Chapman</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Wheel Pose Full Posture</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">15</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Playful Dancer's Flow</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Zumba Dance</td>
                        <td class="cell100 column2">Dance</td>
                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">20</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Cardio Blast</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">5:00 PM - 7:00 PM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Pilates Reformer</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">10</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Supple Spine and Shoulders</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">6:30 AM - 8:00 AM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">15</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Yoga for Divas</td>
                        <td class="cell100 column2">Yoga</td>
                        <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                        <td class="cell100 column4">Donna Wilson</td>
                        <td class="cell100 column5">20</td>
                    </tr>

                    <tr class="row100 body">
                        <td class="cell100 column1">Virtual Cycle</td>
                        <td class="cell100 column2">Gym</td>
                        <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                        <td class="cell100 column4">Randy Porter</td>
                        <td class="cell100 column5">20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>*@